.button{
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #08436F;
  color: azure;
  padding: 0.8rem 1.2rem;
  box-sizing: border-box;
  transition: 0.1s;
  min-width: 16rem;
  width: 100%;
}
.button:hover, .button:focus{
  outline: none;
  box-shadow: 0 0 0 3px #095188, 0 0 0 4px #08436F;

}
.button:disabled{
  opacity: 0.5;
  cursor: wait;
}