.wrapper{
  margin-bottom: 1rem;
}
.input{
  border: 1px solid #eee;
  display: block;
  width: 100%;
  min-width: 16rem;
  font-size: 1rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: rgb(232, 232, 232);
  transition: 0.1;
}
.input:focus, .input:hover{
  outline: none;
  border-color: #08436F;
  background: rgb(235, 235, 235);
  box-shadow: 0 0 0 2px #095188;
}
.label{
  display: block;
  font-size: 1rem;
  line-height: 1;
  padding-bottom: 0.5rem;
}
.error{
  color: #f31;
  font-size: 0.875rem;
  margin-top: 0.25rem;

}